// Colors


/************************************
* Hover Mixin
************************************/
@mixin hover {
  .no-touchevents & {
    &:hover {
      @content;
    }
  }
}

#app {
}

body {
  font-size: em(12);
  background-color: #000;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  @include youngSerif;
  font-size: em(48);
  @include breakpoint(medium) {
    font-size: em(62);
  }
}

ul {
  margin: 0;
  li {
    list-style: none;
  }
}
