// Colors
$red: #fc0d1b;

/************************************
* Hover Mixin
************************************/
@mixin hover {
  .no-touchevents & {
    &:hover {
      @content;
    }
  }
}

#app {
}

body {
  font-size: em(12);
  background-color: #000;
  color: #fff;
}

h2 {
  color: #fff;
  @include youngSerif;
  font-size: em(60);
  @include breakpoint(medium) {
    font-size: em(58);
  }
  @include breakpoint(large) {
    font-size: em(62);
  }
}

h3 {
  color: #fff;
  @include youngSerif;
  font-size: em(43);
  line-height: 35px;
  @include breakpoint(medium) {
    font-size: em(44);
  }
}

h4 {
  color: #fff;
  @include youngSerif;
  font-size: em(43);
  line-height: 35px;
  @include breakpoint(medium) {
    font-size: em(44);
  }
}

ul {
  margin: 0;
  li {
    list-style: none;
  }
}

hr {
  border-bottom: 1px solid #484343;
}
