<form class="" action="index.html" method="post">
  <div id="pricing">
    <ul>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h2>Branding/Category</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="3" name="portfolio" id="1">
                  <label for="1"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Portfolio</div>
                <div class="details">Portfolio: adds new type of client, industry or project to agency portfolio</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="2" name="account-growth" id="2">
                  <label for="2"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Account Growth</div>
                <div class="details">Account Growth: new type of work for an existing client or industry the agency has expertise in</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="1" name="little-known" id="3">
                  <label for="3"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Little Known</div>
                <div class="details">Little Known: would not add new type of client, industry or project to agency portfolio</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h2>Budget</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="3" name="budget-three" id="4">
                  <label for="4"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">$180 + Per Hour</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="2" name="budget-two" id="5">
                  <label for="5"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">$101-179 Per Hour</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="1" name="budget-one" id="6">
                  <label for="6"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">$100 and under Per Hour</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h2>Markget Reach</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="3" name="markget-reach-three" id="7">
                  <label for="7"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Large Markget or Global</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="2" name="markget-reach-two" id="8">
                  <label for="8"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Reginal/Medium Markget + Limited Reach</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="1" name="markget-reach-one" id="9">
                  <label for="9"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Smaller Market + Limited Reach</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h2>Brand Perception Impact</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="3" name="brand-plan-three" id="10">
                  <label for="10"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">High Emotional Engagment</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="2" name="brand-plan-two" id="11">
                  <label for="11"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Balanced Emotional and Promotional</div>
              </div>
            </div>
          </div>
          <div class="large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input class="check" type="checkbox" value="1" name="brand-plan-one" id="12">
                  <label for="12"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Promotional Focused</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="large-12 column">
        <div id="totalScore">Score</div>
        <div id="range">Range</div>
      </div>
    </div>
  </div>
</form>
