<div id="pricing">
  <div class="row">
    <div class="large-12 column">
      <form id="form" action="" method="post">
          <ul>
            <li>
              <h1>Pricing</h1>
            </li>
            <li>
              <div class="row-cont">
                <div class="check-box-cont">
                  <div class="checkbox">
                    <input class="check" type="checkbox" value="5" name="brand-plan" id="1">
                    <label for="1"></label>
                  </div>
                </div>
                <div class="title-cont">
                  <div class="title">Brand Plan</div>
                  <div class="description">The media assets and strategy.</div>
                </div>
                <div class="price" data-value="brand-plan">5k</div>
              </div>
            </li>
            <li>
              <div class="row-cont">
                <div class="check-box-cont">
                  <div class="checkbox">
                    <input class="check" type="checkbox" value="10" name="messaging" id="2">
                    <label for="2"></label>
                  </div>
                </div>
                <div class="title-cont">
                  <div class="title">Messaging</div>
                  <div class="description">The exact words.</div>
                </div>
                <div class="price" data-value="messaging">10k</div>
              </div>
            </li>

            <li>
              <div class="row-cont">
                <div class="check-box-cont">
                  <div class="checkbox">
                    <input class="check" type="checkbox" value="20" name="brand-identity" id="3">
                    <label for="3"></label>
                  </div>
                </div>
                <div class="title-cont">
                  <div class="title">Brand identity</div>
                  <div class="description">Name, logo, colours, etc.</div>
                </div>
                <div class="price" data-value="brand-identity">20k</div>
              </div>
            </li>

            <li>
              <div class="row-cont">
                <div class="check-box-cont">
                  <div class="checkbox">
                    <input class="check" type="checkbox" value="40" name="brand-videos" id="5">
                    <label for="5"></label>
                  </div>
                </div>
                <div class="title-cont">
                  <div class="title">Brand Videos</div>
                  <div class="description">Videos that build your brand.</div>
                </div>
                <div class="price" data-value="brand-videos">40k</div>
              </div>
            </li>
          </ul>
          <div id="total">Package starting at <div id="totalPrice"></div></div>

        </form>
    </div>
  </div>
</div>
