<div class="row">
  <div class="large-12 column">
    <h2 class="line">Criteria Strategic Importance</h2>
  </div>
</div>

<form id="strategic" class="" action="" method="">
  <div id="pricing">
    <ul>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Branding/Category</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="branding" id="1">
                  <label for="1"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Portfolio</div>
                <div class="details">Portfolio: adds new type of client, industry or project to agency portfolio</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="branding" id="2">
                  <label for="2"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Account Growth</div>
                <div class="details">Account Growth: new type of work for an existing client or industry the agency has expertise in</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="branding" id="3">
                  <label for="3"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Little Known</div>
                <div class="details">Little Known: would not add new type of client, industry or project to agency portfolio</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Budget</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="budget" id="4">
                  <label for="4"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">$180 + Per Hour</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="budget" id="5">
                  <label for="5"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">$101-179 Per Hour</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="budget" id="6">
                  <label for="6"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">$100 and under Per Hour</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Market Reach</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="market-reach" id="7">
                  <label for="7"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Large Market or Global</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="market-reach" id="8">
                  <label for="8"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Regional/Medium Market + Limited Reach</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="market-reach" id="9">
                  <label for="9"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Smaller Market + Limited Reach</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Brand Perception Impact</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="brand-plan" id="10">
                  <label for="10"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">High Emotional Engagement</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="brand-plan" id="11">
                  <label for="11"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Balanced Emotional and Promotional</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="brand-plan" id="12">
                  <label for="12"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Promotional Focused</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="large-12 column">
        <div id="strategic-totalScore">Strategic Importance Score = <span class="score">0</span></div>
        <div id="strategic-range">Strategic Importance Range = <span class="level">Low</span></div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="large-12 column">
    <h2 class="line">Criteria Complexity</h2>
  </div>
</div>

<form id="complexity" class="" action="" method="">
  <div id="pricing">
    <ul>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Production Complexity</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="production-complexity" id="13">
                  <label for="13"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Heavy Development Efforts</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="production-complexity" id="14">
                  <label for="14"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Mostly Front End Development</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="production-complexity" id="15">
                  <label for="15"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Simple Development and/or Maintenance</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Content Complexity</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="content-complexity" id="16">
                  <label for="16"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Strategy/copy needed and/or large amounts of content or assets production needed</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="content-complexity" id="17">
                  <label for="17"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Up to 5 pages content, minimal Strategy, some copy/editing possible some simple asset production</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="content-complexity" id="18">
                  <label for="18"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Client has Provided a content outline and/or assets, may handle some content entry, stock assets are used</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Creative Complexity</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="creative-complexity" id="19">
                  <label for="19"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">New creative, new concept</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="creative-complexity" id="20">
                  <label for="20"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Established brand or look/feel</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="creative-complexity" id="21">
                  <label for="21"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Template</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="large-12 column">
            <div class="cont">
              <h3>Type of Stakeholders</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row border">
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="3" name="stakeholders" id="22">
                  <label for="22"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">H</div>
                <div class="description">Executive Level and/or lots Stakeholder Reviewers</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="2" name="stakeholders" id="23">
                  <label for="23"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">M</div>
                <div class="description">Business Partner and/or smaller Amount of Stakeholder Reviewers</div>
              </div>
            </div>
          </div>
          <div class="small-12 large-4 column">
            <div class="row-cont">
              <div class="check-box-cont">
                <div class="checkbox">
                  <input type="radio" value="1" name="stakeholders" id="24">
                  <label for="24"></label>
                </div>
              </div>
              <div class="title-cont">
                <div class="title">L</div>
                <div class="description">Internal Marketing and Single Reviewers</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="large-12 column">
        <div id="complexity-totalScore">Complexity Score = <span class="score">0</span></div>
        <div id="complexity-range">Complexity Range = <span class="level">Low</span></div>
        <!-- <div id="total">Total = <span>0</span></div> -->
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="large-12 column">
    <div id="overall">
      <div id="overal-input">
        <input type="text" placeholder="Project Name">
      </div>
      <h2 class="line">Criteria Strategic Importance</h2>
      <h3>Branding/Category - <span data-name="branding"></span></h3>
      <h3>Budget - <span data-name="budget"></span></h3>
      <h3>Market Reach - <span data-name="market-reach"></span></h3>
      <h3>Brand Perception Impact - <span data-name="brand-plan"></span></h3>
      <div id="overall-strategic-score">Strategic Score = <span data-id="strategic" class="score">0</span></div>
      <div id="overall-strategic-range">Strategic Range = <span data-id="strategic" class="level">Low</span></div>

      <h2 class="line">Criteria Complexity</h2>
      <h3>Production Complexity - <span data-name="production-complexity"></span></h3>
      <h3>Content Complexity - <span data-name="content-complexity"></span></h3>
      <h3>Creative Complexity - <span data-name="creative-complexity"></span></h3>
      <h3>Type of Stakeholders - <span data-name="stakeholders"></span></h3>
      <div id="overall-Complexity-score">Complexity Score = <span data-id="complexity" class="score">0</span></div>
      <div id="overall-Complexity-range">Complexity Range = <span data-id="complexity" class="level">Low</span></div>
      <br/>
      <div id="overall-tier">Actual Tier = <span>0</span></div>
    </div>
  </div>
</div>
